Framework/env/config/
Framework/env/defaultconfigs/
Framework/env/libraries/
Framework/env/logs/
Framework/env/mods/
Framework/env/world/
Framework/env/logs/
Userclient/.vs
Userclient/.vs/
Userclient/bin
Userclient/bin/
Userclient/obj
Userclient/obj/