Swirve Framework/env/config/
Swirve Framework/env/defaultconfigs/
Swirve Framework/env/libraries/
Swirve Framework/env/logs/
Swirve Framework/env/mods/
Swirve Framework/env/world/
Swirve Framework/env/logs/
Swirve Framework/build
